In [19]:
# Unzip outputs
import os

In [ ]:
def check_files_existence(data_dir, variable_name):
    _data_dir = os.path.join(data_dir, variable_name)
    for x in range(0, 406):
        for y in range(0, 964):
            filename = f'{dir}_{x:03}_{y:03}.csv'
            if not os.path.isfile(os.path.join(_data_dir, filename)):
                print(f"File {filename} is missing.")
            else:
                None

In [ ]:
if __name__ == "__main__":
    data_dir = f"/home/waves/projects/smap-drydown/data/datarods/"
    check_files_existence(data_dir=data_dir, variable_name = "PET")

In [ ]:
if __name__ == "__main__":
    data_dir = f"/home/waves/projects/smap-drydown/data/datarods/"
    check_files_existence(data_dir=data_dir, variable_name = "SPL3SMP")

In [23]:
import pandas as pd
filename = "/home/waves/projects/smap-drydown/data/datarods/SPL3SMP/SPL3SMP_110_744.csv"
df = pd.read_csv(filename)

In [25]:
df.head()

,time,Soil_Moisture_Retrieval_Data_PM_retrieval_qual_flag_pm,Soil_Moisture_Retrieval_Data_PM_soil_moisture_pm,Soil_Moisture_Retrieval_Data_PM_surface_flag_pm,Soil_Moisture_Retrieval_Data_AM_retrieval_qual_flag,Soil_Moisture_Retrieval_Data_AM_soil_moisture,Soil_Moisture_Retrieval_Data_AM_surface_flag
0,2015-03-31,7.0,NaN,2047.0,7.0,NaN,2047.0
1,2015-03-31,7.0,NaN,2047.0,7.0,NaN,2047.0
2,2015-04-01,1.0,0.409607,1024.0,7.0,NaN,2047.0
3,2015-04-02,7.0,NaN,2047.0,5.0,NaN,1024.0
4,2015-04-03,7.0,NaN,2047.0,7.0,NaN,2047.0